/* colors */
$color-primary: #EC253D;
$color-black: #000;
$color-dark-grey: #222;
$color-grey: #4B5961;


/* shadows */
$shadow-medium: 3px 3px 8px rgba(0, 0, 0, 0.22);
$shadow-large: 3px 5px 10px rgba(0, 0, 0, 0.26);


/* typography */

@font-face {
   font-family: 'Avenir Next';
   src:  url('../../css/fonts/AvenirNext-Regular.ttf') format('ttf');
}

body {
   color: $color-black;
   font-family: "Avenir Next", sans-serif;
   font-weight: 400;
}

*, *::after, *::before {
   outline: none;
}


/* bootstrap fix */
.container-fluid {
   padding-left: 45px !important;
   padding-right: 45px !important;
   max-width: 1400px;

   @include media-breakpoint-down(md) {
      padding-left: 15px !important;
      padding-right: 15px !important;
   }

   @include media-breakpoint-down(sm) {
      padding-left: 30px !important;
      padding-right: 30px !important;
   }
}