.deal {
   align-items: center;
   background: #fff;
   box-shadow: $shadow-medium;
   display: flex;
   flex-direction: column;
   height: 300px;
   margin-top: 30px;
   overflow: hidden;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 35px;
   transition: box-shadow .2s;
   
   &:hover {
      box-shadow: $shadow-large;
   }

   &__img-wrapper {
      display: flex;
      height: 120px;
      width: 80%;
   }

   &__img {
      margin: 0 auto;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: center;
   }

   &__content {
      margin-top: 25px;
      align-self: flex-start;
   }

   &__title {
      cursor: pointer;
      font-size: 18px;
      font-weight: 700;
   }

   &__copy {
      font-size: 14px;
   }
}