.deal {
   margin-top: 30px;
   background: #fff;
   box-shadow: $shadow-medium;
   height: 300px;
   overflow: hidden;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 35px;
   transition: box-shadow .2s;
   
   &:hover {
      box-shadow: $shadow-large;
   }

   &__img-wrapper {
      cursor: pointer;
      height: 122px;
      width: 163px;
      margin: 0 auto;
   }

   &__img {
      cursor: pointer;
      width: 100%;
   }

   &__content {
      margin-top: 25px;
   }

   &__title {
      cursor: pointer;
      font-size: 18px;
      font-weight: 700;
   }

   &__copy {
      font-size: 14px;
   }
}