.featured {

   &__hero-item {
      height: 412px;
   }

   &__hero-content {
      height: 200px;
      margin-left: 50px;
      margin-top: 113px;
      position: relative;
      width: 33%;
      z-index: 2;

      @include media-breakpoint-down(md) {
         margin-left: 30px;
         width: 45%;
      }

      @include media-breakpoint-down(sm) {
         margin-left: 30px;
         width: 70%;
      }
   }

   &__hero-bg {
      position: absolute;
      z-index: -1;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
   }

   &__hero-logo-wrapper {
      height: 90px;
   }

   &__hero-logo {
      filter: invert(100%);
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: center;
   }

   &__hero-copy {
      color: #fff;
      font-size: 18px;
      margin-top: 20px;
   }

   &__deals {
      margin-top: -60px;

      @include media-breakpoint-down(sm) {
         margin-left: 30px;
         margin-right: 30px;

         /* remove after slider is made. just for mockup purposes only */
         & > .row > *:not(:first-child) {
            display: none;
            visibility: hidden;
         }
      }
   }
   
   &__deal {
      align-items: center;
      background: #fff;
      box-shadow: $shadow-medium;
      display: flex;
      height: 140px;
      padding-left: 20px;
      padding-right: 20px;
      transition: box-shadow .2s;
      flex-direction: column;


      &:hover {
         box-shadow: $shadow-large;
         text-decoration: none;
         cursor: pointer;
      }

      &--selected {
         border: 2px solid $color-primary;

         /* remove after slider is made. just for mockup purposes only */
         @include media-breakpoint-down(sm) {
            border: none;
         }
      }
   }

   &__deal-logo-wrapper {
      display: flex;
      max-height: 40px;
      margin-right: 0;
      margin-top: 25px;
      width: 50%;

      @include media-breakpoint-down(md) {
         width: 70%;
      }

      @include media-breakpoint-down(sm) {
         margin-bottom: 5px;
         margin-top: 30px;
         width: 60%;
      }
   }

   &__deal-logo {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: center;

      @include media-breakpoint-down(md) {
         margin: 0 auto;
         max-height: 100%;
         max-width: 100%;
         object-fit: contain;
         object-position: center;
      }
   }

   &__deal-content {
      color: $color-black;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      margin-top: 15px;

      @include media-breakpoint-down(md) {
         text-align: center;
      }
   }

   &__controls {
      position: relative;
   }

   &__control {
      position: absolute;
      top: 77%;
      width: 50px;

      &--prev { margin-left: -1%; }
      &--next { margin-right: -1%; }
   }

   &__control-icon {
      filter: invert(100%);
   }
}