.featured {

   &__hero {
      background-size: cover;
      background: url(../../img/bg--harman.png) center no-repeat;
      height: 412px;
      z-index: -1;
   }

   &__hero-content {
      height: 200px;
      margin-left: 50px;
      margin-top: 120px;
      width: 33%;

      @include media-breakpoint-down(sm) {
         width: 60%;
      }
   }

   &__hero-logo {
      filter: invert(100%);
      width: 100%;
   }

   &__hero-copy {
      color: #fff;
      font-size: 16px;
      margin-top: 30px;
   }

   &__deals {
      margin-top: -60px;

      @include media-breakpoint-down(sm) {
         margin-left: 30px;
         margin-right: 30px;

         /* remove after slider is made. just for mockup purposes only */
         &:not(:first-child) {
            
         }
      }
   }
   
   &__deal {
      align-items: center;
      background: #fff;
      box-shadow: $shadow-medium;
      display: flex;
      height: 125px;
      padding-left: 20px;
      padding-right: 20px;
      transition: box-shadow .2s;

      &:hover {
         box-shadow: $shadow-large;
         text-decoration: none;
      }

      @include media-breakpoint-down(md) {
         flex-direction: column;
         height: 145px;
       }

      &--selected {
         border: 2px solid $color-primary;
      }
   }

   &__deal-logo-wrapper {
      margin-right: 25px;
      width: 50%;

      @include media-breakpoint-down(md) {
         margin-right: 0;
         margin-top: 20px;
         height: 40px;
         width: 90%;
      }

      @include media-breakpoint-down(sm) {
         width: 50%;
      }
   }

   &__deal-logo {
      width: 100%;
   }

   &__deal-content {
      color: $color-black;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      margin-top: 15px;

      @include media-breakpoint-down(md) {
         text-align: center;
      }
   }
}