.sub-nav {
   background: #fff; 

   @include media-breakpoint-down(sm) {
      box-shadow: $shadow-small;
   }

   &__header {
      padding-top: 12px;
      font-size: 21px;
      font-weight: 700;
   }

   &__toggler:active, &__toggler:focus  {
      outline: none;
   }

   &__toggler {
      color: $color-black;
      transition: color .2s;

      &:hover {
         cursor: pointer;
         color: $color-primary;
      }
   }

   &__items-wrap {
      width: 100%;
   }

   &__items {
      background: #fff;

      @include media-breakpoint-down(sm) {
         padding-bottom: 15px;
      }
   }

   &__item:not(:last-child) {
      margin-right: 20px;
   }

   &__dropdown {
      border: none;
      overflow: auto;
   }
   
   &__link {
      font-size: 16px;
      height: 40px;
      font-weight: 700;
      color: $color-black;
      transition: all .2s;
      

      &:hover {
         color: $color-primary;
      }

      @include media-breakpoint-down(md) {
         font-size: 14px;
      }

      @include media-breakpoint-down(sm) {
         font-size: 18px;
      }
   }
}